<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="Styles/styles.css">
    <title>Get Pokemons</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <br>
            <br>

            <input v-bind:disabled="busy" @input="escrevendo"  v-model="name" placeholder="Digite o nome de um pokemon">
            <div> {{ answer }} </div>
            <button v-bind:disabled="busy" class="btn" @click="getPokemon">Buscar</button>

            <div v-if="busy" class="busy"></div>
            <div v-else-if="busyEscrevendo"></div>
            <div v-else>
                <br>
                <br>
                <div class="row row-dark">Name:</div>
                <br>
                <h2>{{ pokeName }}</h2>
                <br>

                <img v-bind:src="pokeImg" alt="">

                <br>

                <div class="row row-dark">Attributes:</div>
                <br>
                <ul>
                    <li>
                        Weight:
                        {{ attributes.weight }}
                    </li>

                    <li>
                        Height:
                        {{ attributes.height }}
                    </li>
                </ul>
                <br>
                <br>

                <div class="row row-dark">Abilities:</div>
                <ul>
                    <li v-for="ability in abilities">
                        {{ ability["ability"]["name"] }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="App/app.js"></script>
</body>
</html>